body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 10%;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    font-weight: 400px;
    color: white;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experience-Area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Experience-item {
    box-shadow: 5px 5px 20px black;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px;
    border-radius: 10px;
}

#orange-border {
    border-left: orange solid 5px;
}

#blue-border {
    border-left: blue solid 5px;
}

footer {
    text-align: center;
}